:root {
    /* Base crema suave */
    --background: #fdf9f4;
    /* fondo general */
    --sidebar: #f8efe3;
    /* columna izq. */
    --card: #fbfbfb;
    /* tarjetas/pills */
    --border: #f1e3da;
    /* bordes sutiles */

    /* Texto */
    --foreground: #1F2D2E;
    /* texto principal */
    --muted: #7F8C8B;
    /* texto secundario */

    /* Marca unificada (como los íconos E y check) */
    --primary: #18BDB0;
    --secondary: #18BDB0;
    /* igualado a primary */
    --accent: #3ad1a1;
    /* igualado a primary */

    --background-blur: rgba(255, 255, 255, .5);

    /* Sombra/anillo muy sutil */
    --ring: rgba(0, 0, 0, .06);

    .btn-primary:hover {
        background-color: #32b891;
        box-shadow: 0 2px 8px rgba(58, 209, 161, 0.2);
    }

    --info: #2CB1EA;
    --success: #37D69C;
    --warning: #F0C361;
    --danger: #EF6A74;
}

html.dark {
    /* Equivalentes en dark manteniendo el turquesa */
    --background: #0E1416;
    --sidebar: #0F171A;
    --card: #121B1F;
    --border: #1C2A2E;

    --foreground: #E6F2F0;
    --muted: #93A7A4;

    --primary: #2CD5C8;
    --secondary: #2CD5C8;
    /* igualado a primary */
    --accent: #2CD5C8;
    /* igualado a primary */

    --background-blur: rgba(0, 0, 0, .5);

    --ring: rgba(255, 255, 255, .08);

    --info: #2CB1EA;
    --success: #37D69C;
    --warning: #F0C361;
    --danger: #EF6A74;
}